<section class="hero is-medium is-info">
    <div class="hero-body hr">
        <p class="title is-1 mt-1">
            Lorem ipsum, dolor sit amet consectetur 
        </p>
        <p class="subtitle is-5 mt-1">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae explicabo eius quas nam distinctio veniam ipsum eaque eum cumque alias.
        </p>
    </div>
</section>

<div class="container">
    <div class="pin_container">
        <ul>
            <li *ngFor="let dd of data;">
                <div class="card">
                    <h1 class="title">{{dd.title}}</h1>
                    <p class="subtitle">{{dd.msg}}</p>
                </div>
            </li>
        </ul>
        
        
    </div>
</div>